{% load static %}
<!-- {% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'cart' as cart_url %} -->
<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stripe.css' %}">
    <link rel="stylesheet" href="{% static 'css/smoothproducts.css' %}">
    <title>Index - Alishopcarts </title>
</head>
<body>
<header>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark pt-3" style="background-color: #1c2331!important;">
  <a class="navbar-brand" href="{% url 'index' %}" >Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <form class="form-inline my-2 my-lg-0 col-md-6 offset-2 search-form " method="GET" action='{% url "search:query" %}' >
    <input class="form-control col-md-10" type="search" placeholder="Search" name="q" value="{{ request.GET.q}}"  aria-label="Search">
    <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-1" type="submit">Search</button>
  </form>
  <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
    <!--   <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li> -->
       <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-heart"></i> Favorites </a>
      </li>

      <li class="nav-item {% if request.path == cart %} active {% endif %}">
        <a class="nav-link" href="{% url 'cart:view' %}" ><i class="fas fa-cart-plus"></i> Cart <span class="navbar-cart-count">{{ request.session.cart_items }}</span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-shopping-basket"></i> Orders</a>
      </li>

      <!-- Dropdown -->
     {% if request.user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
          Account
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="{% url 'account' %}"><i class="fas fa-user"></i> Account</a>
          <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
        </div>
      </li>

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Sign In</a>
      </li>
      {% endif %}
    </ul>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
</header>  
   <body style="background-color: #f2f3fa;">
    {% if messages %}
    <div class="messages text-success">
        {% for message in messages %}
        <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </span>
        {% endfor %}
    </div>
    {% endif %}
        {% block content %}
        {% endblock %}
  </body>  
    
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #6351ce;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="font-weight-bold">Cutomer Services</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p> <a href="#!">Help Center</a> </p>
        <p> <a href="#!">Contact us</a> </p>
        <p> <a href="#!">Report Abuse</a> </p>
        <p> <a href="#!">Submit a Dispute</a> </p>
        <p> <a href="#!">Policies & Rules</a> </p>
        <p> <a href="#!">Get Paid for Your Feedback</a> </p>
      </div>
      <!-- Grid column -->

       <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="font-weight-bold">About us</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p> <a href="#!">About Alishopcarts.com</a> </p>
        <p> <a href="#!">About Alishopcarts group</a> </p>
        <p> <a href="#!">Sitemap</a> </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="font-weight-bold">Sell on Alishopcarts.com</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p> <a href="#!">Supllier Memberships</a> </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class=" font-weight-bold">Buy on Alishopcarts.com</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p> <a href="#!">All Categories</a> </p>
        <p> <a href="#!">Request for Quotation</a> </p>
        <p> <a href="#!">Ready to ship</a> </p>
      </div>
      <!-- Grid column -->      

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@example.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#!"> Alishopcarts.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/smoothproducts.min.js' %}"></script>
<!-- <script src="{% static 'js/slick.js' %}"></script> -->
<script src="{% static 'js/script.js' %}"></script>
<!-- Django Secure Ajax JS -->
<script src="{% static 'js/csrf_ajax.js' %}"></script>
<!-- Stripe JS -->
<script src="{% static 'js/stripe.js' %}"></script>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
$('.containers').on('click', function () {
$('.cardy').toggleClass('flipped');
  });
 $('#printInvoice').click(function(){
          Popup($('.invoice')[0].outerHTML);
          function Popup(data) 
          {
              window.print();
              return true;
          }
      });
  $(document).ready(function(){
      $('input[type="checkbox"]').click(function(){
        // event.preventDefault();
          if($(this).is(":checked")){
            var color = $(this).val()
            $.ajax({
              url: "{% url 'search:query' %}",
              method: "GET",
              data: {"data": color},
                success: function(data){
                  console.log("success")
                  // window.location.href = '/search/?q=' + color
                },
                error: function(error){
                  console.log("failed")
                  console.log(error)
                }
            })
          }
          else if($(this).is(":not(:checked)")){
             console.log('error occured')
          }
        });
      // Auto search
      // Cart + Add Products
       // $(".addCart").css("color", "gray")
      var productForm = $(".form-product-ajax")
      productForm.submit(function(event){
        event.preventDefault();
        var thisForm = $(this)
        // var actionEndpoint = thisForm.attr("action"); //API endpoint
        var actionEndpoint = thisForm.attr("data-endpoint");
        var httpMethod = thisForm.attr("method");
        var formData = thisForm.serialize();
        $.ajax({
          url: actionEndpoint,
          method: httpMethod,
          data: formData,
          success: function(data){
           var submitSpan = thisForm.find(".submit-span")
           var submitSpans = thisForm.find(".ajax-add-cart")
           if (data.added) {
            submitSpan.html("<button type='submit' class='btn btn-danger waves-effect waves-light'>Remove</button>")
            submitSpans.html(" <button type='submit' class='btn-floating halfway-fab waves-effect waves-light'><i class='material-icons'>add_shopping_cart</i></button>")
          } else { 
              submitSpan.html("<button type='submit' class='btn btn-danger waves-effect waves-light'>Add to Cart</button>")
              submitSpans.html(" <button type='submit' class='btn-floating halfway-fab waves-effect waves-light red'><i class='material-icons'>add_shopping_cart</i></button>")
            }
            var navbarCount = $(".navbar-cart-count")
            navbarCount.text(data.cartItemCount)
            var currentpath = window.location.href
            if (currentpath.indexOf("cart") != -1) {
              refreshCart()
            }
          },
          error: function(errorData){
            console.log("failed")
          }
        })
      })
      function refreshCart(){
        console.log("In current Cart")
        var cartTable = $(".cart-table")
        var cartBody  = cartTable.find(".cart-body")
        var productRows  = cartBody.find(".cart-product")
        var currentUrl = window.location.href

        var refershCartUrl = '/api/cart/'
        var refreshCartMethod = "GET";
        var data = {};
        $.ajax({
          url: refershCartUrl,
          method: refreshCartMethod,
          data: data,
          success: function(data){
            console.log("success")
            var hiddenCartItemRemoveForm = $(".cart-item-remove-form")
          if (data.products.length > 0) {
              productRows.html(" ")
              i = data.products.length
              $.each(data.products, function(index, value){
                console.log(value)
                var newCartItemRemove = hiddenCartItemRemoveForm.clone()
                newCartItemRemove.css("display", "block")
                newCartItemRemove.find("cart-item-product-id").val(value.id)
                cartBody.prepend("<tr><td >" + i + "</td><td><a href= '"+value.url+"'>"+ value.name +"</a>"+ newCartItemRemove.html() +"</td>" + "<td><p><i class='material-icons'>remove</i></p>" + value.quantity + "<a href=''><i class='material-icons'>add</i></a></td>" + "<td>" + value.price + "</td></tr>")
                i--
              })
              cartBody.find(".cart-subtotal").text(data.subtotal)
              cartBody.find(".cart-total").text(data.total)
            }else{
              window.location.href = currentUrl
            }
          },
          error: function(errorData){
            console.log("failed")
            console.log(errorData)
          }
        })
      }
  })
</script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
</body>
</html>
