{% load static %}
<!-- {% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'cart' as cart_url %} -->
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/smoothproducts.css' %}">
    <title>Django e-commerce</title>
</head>
   <style type="text/css">
      section {height: 100%}
      .body {
        padding: 40px 15px;
      }
      .login-box {
        width: 100%;
        max-width: 900px;
        margin: auto;
      }
      .auth-head-icon {
        position: relative;
        height: 60px;
        width: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        background-color: #fff;
        color: #5c6bc0;
        box-shadow: 0 5px 20px #d6dee4;
        border-radius: 50%;
        transform: translateY(-50%);
        z-index: 2;
      }
    </style>
<body>
    <header>
    <nav>
      <div class="nav-wrapper">
        <a href="{% url 'index' %}" class="brand-logo">Company Logo</a>
        <ul class="right hide-on-med-and-down">
          <li class="">    
            <form class="search-form" method="GET" action='{% url "search:query" %}'>
             <div class="center row">
                <div class="col s12 " >
                  <div class="row" id="topbarsearch">
                    <div class="input-field col s12 white-text">
                      <i class="white-text material-icons prefix">search</i>
                      <input type="text" placeholder="search" name="q" id="autocomplete-input" value="{{ request.GET.q}}" class="autocomplete white-text" >
                      </div>
                    </div>
                  </div>
                </div>
              </form>          
            </li> 
          <li class=" ">
            <a href="badges.html"><i class="material-icons left">favorite</i>Favorites</a>
          </li>

          <li class="{% if request.path == cart %} active {% endif %}"> 
            <a href="{% url 'cart:view' %}"><i class="material-icons left">add_shopping_cart</i><span class="navbar-cart-count">{{ request.session.cart_items }}</span>  Cart </a>
          </li>

         {% if request.user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}"><i class="material-icons left">person</i>Logout</a>
          </li>
          {% else %}
          <li class="{% if request.path == login %} active {% endif %}">
            <a href="{% url 'login' %}"><i class="material-icons left">person</i>Sign in</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </nav>  
</header>  
   <section>
        {% block content %}
        {% endblock %}
  </section>  
    
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <p class="center-align">Trade Alert - Delivering the latest product trends and industry news straight to your inbox.</p>
        <form  >
          <div class="input-field col s12 l6 offset-l3">
            <i class="material-icons prefix">message</i>
            <input type="email" name="email" placeholder="Your email" class="white-text" >
             <span >We’ll never share your email address with a third-party.</span>
          </div>
          <div class="col s12 l3"> 
            <button class="btn waves-effect waves-light">Subcribe 
              <i class="material-icons right">send</i>
            </button>
          </div>
           
        </form>
      </div>
        <div class="row">
          <div class="col s12 l3">
            <h5 class="white-text">Cutomer Services</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Help Center</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">COntact us</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Report Abuse</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Submit a Dispute</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Policies & Rules</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Get Paid for Your Feedback</a></li>
            </ul>
        </div>
        <div class="col s12 l3">
            <h5 class="white-text">About Us</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="#!">About Netsaleshop.com</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">About Netsaleshop Group</a></li>
            </ul>
        </div>
           <div class="col s12 l3">
            <h5 class="white-text">Buy on Netsaleshop.com</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="#!">All Categories</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Request for Quotation</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Ready to ship</a></li>
            </ul>
        </div>
           <div class="col s12 l3">
            <h5 class="white-text">Sell on Netsaleshop.com</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Supllier Memberships</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2019 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
    </footer>  
<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/smoothproducts.min.js' %}"></script>
<!-- Django Secure Ajax JS -->
<script src="{% static 'js/csrf_ajax.js' %}"></script>
<script type="text/javascript">
     $(document).ready(function(){
     $('.modal').modal();
     $('.dropdown-trigger').dropdown();
     $('.tabs').tabs();
     $('.carousel').carousel();
     $('select').formSelect();
     $('.collapsible').collapsible();
     $('.sp-wrap').smoothproducts();
     });
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.dropdown-trigger').dropdown({
          inDuration: 300,
          outDuration: 225,
          constrain_width: false, // Does not change width of dropdown to that of the activator
          hover: true, // Activate on hover
          gutter: ($('.dropdown-content').width()*3)/2.5 + 5, // Spacing from edge
          belowOrigin: false, // Displays dropdown below the button
          alignment: 'left' // Displays dropdown with edge aligned to the left of button
        }
      );
      $('input[type="checkbox"]').click(function(){
        // event.preventDefault();
          if($(this).is(":checked")){
            var color = $(this).val()
            $.ajax({
              url: "{% url 'search:query' %}",
              method: "GET",
              data: {"data": color},
                success: function(data){
                  console.log("success")
                  // window.location.href = '/search/?q=' + color
                },
                error: function(error){
                  console.log("failed")
                  console.log(error)
                }
            })
          }
          else if($(this).is(":not(:checked)")){
             console.log('error occured')
          }
        });
      // Auto search

      // Cart + Add Products
       // $(".addCart").css("color", "gray")
      var productForm = $(".form-product-ajax")
      productForm.submit(function(event){
        event.preventDefault();
        var thisForm = $(this)
        // var actionEndpoint = thisForm.attr("action"); //API endpoint
        var actionEndpoint = thisForm.attr("data-endpoint");
        var httpMethod = thisForm.attr("method");
        var formData = thisForm.serialize();
        $.ajax({
          url: actionEndpoint,
          method: httpMethod,
          data: formData,
          success: function(data){
           var submitSpan = thisForm.find(".submit-span")
           var submitSpans = thisForm.find(".ajax-add-cart")
           if (data.added) {
            submitSpan.html("<button type='submit' class='btn btn-danger waves-effect waves-light'>Remove</button>")
            submitSpans.html(" <button type='submit' class='btn-floating halfway-fab waves-effect waves-light'><i class='material-icons'>add_shopping_cart</i></button>")
          } else { 
              submitSpan.html("<button type='submit' class='btn btn-danger waves-effect waves-light'>Add to Cart</button>")
              submitSpans.html(" <button type='submit' class='btn-floating halfway-fab waves-effect waves-light red'><i class='material-icons'>add_shopping_cart</i></button>")
            }
            var navbarCount = $(".navbar-cart-count")
            navbarCount.text(data.cartItemCount)
            var currentpath = window.location.href
            if (currentpath.indexOf("cart") != -1) {
              refreshCart()
            }
          },
          error: function(errorData){
            console.log("failed")
          }
        })
      })
      function refreshCart(){
        console.log("In current Cart")
        var cartTable = $(".cart-table")
        var cartBody  = cartTable.find(".cart-body")
        var productRows  = cartBody.find(".cart-product")
        var currentUrl = window.location.href

        var refershCartUrl = '/api/cart/'
        var refreshCartMethod = "GET";
        var data = {};
        $.ajax({
          url: refershCartUrl,
          method: refreshCartMethod,
          data: data,
          success: function(data){
            console.log("success")
            var hiddenCartItemRemoveForm = $(".cart-item-remove-form")
          if (data.products.length > 0) {
              productRows.html(" ")
              i = data.products.length
              $.each(data.products, function(index, value){
                console.log(value)
                var newCartItemRemove = hiddenCartItemRemoveForm.clone()
                newCartItemRemove.css("display", "block")
                newCartItemRemove.find("cart-item-product-id").val(value.id)
                cartBody.prepend("<tr><td >" + i + "</td><td><a href= '"+value.url+"'>"+ value.name +"</a>"+ newCartItemRemove.html() +"</td>" + "<td>" + value.price + "</td></tr>")
                i--
              })
              cartBody.find(".cart-subtotal").text(data.subtotal)
              cartBody.find(".cart-total").text(data.total)
            }else{
              window.location.href = currentUrl
            }
          },
          error: function(errorData){
            console.log("failed")
            console.log(errorData)
          }
        })
      }
  })
</script>
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>
