 
 <form class="" method="POST" action="{% if action_url %} {{ action_url }} {% else %} {% url 'login' %} {% endif %}">
    {% csrf_token %}

    {% if next_url %}
      <input type="hidden" name="next" value="{{next_url}}">
    {% endif %}

    {% if address_type %}
       <input type="hidden" name="address_type" value="{{address_type}}">  
    {% endif %}

     <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix"></i>
          {{ form.as_p}}
          <label for="icon_prefix"></label>
        </div>
    </div>     
    
	  <button class="btn waves-effect waves-light col s12 "  style="border-radius: 15px;"   type="submit" >Submit
	  </button>
</form>