{% extends 'posts/layout.html' %}
{% load static %}
{% block content %}
<style>

</style>
	<div class="row">
		<div class="col s12 l4 offset-l4">
			<script src="https://js.stripe.com/v3/"></script>
			<h4>Add Payment Method</h4>
			 <form class="payment-form" action="{% url 'billing-payement-method-endpoint' %}" data-endpoint="{% url 'billing-payement-method-endpoint' %}" method="POST" id="payment-form" data-token="{{ publish_key }}"
			 data-next-url="{% if next_url %} {{next_url}} {% endif %}">{% csrf_token %}
			  <div class="form-row">
			    <label for="card-element" >
				 Credit or debit card
			    </label>
			    <div id="card-element" class="input-field ">
			<!--   Stripe Element will be inserted here. -->
			    </div>

			    <!-- Used to display form errors. -->
			    <div id="card-errors" role="alert"></div>
			  </div>

			  <button class="btn">Add Payment Method</button>
			</form> 
		</div>
	</div>
{% endblock %}
			<!-- 	<div class="stripe-payment-form" data-token="{{ publish_key }}"
			 data-next-url="{% if next_url %} {{next_url}} {% endif %}" data-btn-title="Add New Card"> </div> -->

